.inputWrapper:nth-child(2) {
  margin-bottom: 32px;
}
@media (max-width:991px ) {
  .img-wrapper {
    filter:blur(5px) ; -webkit-filter:blur(5px) ;
    height: fit-content !important;
  }
  .form {
    align-items: center;
  }
}