.about .banner {
  height: 250px;
}

.about .banner:first-child {
  margin-bottom: 80rem;
}

.about .banner:last-child {
  margin-bottom: 12rem;
}

.about-campany {
  margin-bottom: 120px;
}

.about-content {
  gap: 36px;
}

.about-content .about-detials {
  width: 721px !important;
  max-width: 100%;
}

.about-content .about-detials h2 {
  margin-bottom: 14px;
}

.about-detials div.text {
  line-height: 40px !important;
}

.about .about-image-wrapper {
  width: 522.564px !important;
  height: 544.346px;
}

.about .about-image-wrapper img {
  width: 100% !important;
  height: 544.346px;
  margin-inline: auto;
  display: block;
}

@media (max-width: 684px) {
  .about .about-image-wrapper {
    width: 100% !important;
    height: fit-content;
  }
}

@media (max-width: 1265px) {

}
@media (max-width: 950px ){
  .about-content {
    flex-direction:column ;
  }
  .about-content .text {
    line-height: 30px !important;
  }
  
  .about-content {
    text-align: center;
  }
}
@media (min-width: 951px ) and (max-width:1200px) {

}

/* ///////////// */
.our-value-goals {
  margin-bottom: 100px;
  gap: 7.8rem;
  gap: 80px;

}

.images {
  display: flex;
  gap: 29px;
  align-items: self-end;
}
@media (min-width: 951px ) and (max-width:1200px) {

}

.images .first-img {
  width: 430px;
  height: 100%;
}

.images .first-img img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.images .second-img {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;

}

.images .second-img img {
  height: 229px;
  max-width: 150px;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* box-shadow: 1px 1px 15px var(--blue-500); */
}

@media (max-width: 950px) {
  br {
    display: none;
  }

  .banner-bottom {
    text-align: center !important;
  }
  .our-value-goals{
    flex-direction: column;
  }
  .banner-bottom a {
    margin-inline: auto;
  }

  .images {
    flex-direction: column;
  }

  .images .second-img {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .images .second-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .images .first-img {
    width: 100%;
    flex: 2;
  }
}

.values {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.vales-content {
  gap: 24px;
}

.value-item p {
  margin-bottom: 16px;
}
@media (min-width:951px) and (max-width:1200px) {
  .our-value-goals >div {
    width: 50%;
  }
  .images .first-img {height:  408.484px;}
  .images .first-img img {height:100%;}
  .vules-item span {
    font-size: 18px;
  }
  .our-value-goals {gap: 25px;}
  .images {
    gap: 20px;
  }
  .values{gap: 73px;}
}
@media (max-width:519px) {
  .vales-content {
    flex-direction: column;
    text-align: center;
  }

  .vales-content img {
    margin-inline: auto;
  }
}
