select {
    padding: 17px 16px  !important;
    color: var(--Secondary, #A6A6A6);
    font-size: var(--fs_1-8) !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px !important;
    border: 1px solid rgba(166, 166, 166, 0.50);
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    background-position : left .75rem center !important;
}
